extends layout 

block content 
  h1= actor.name + ' details'
  span
  hr
  p Name: #{actor.name}       
  if movies
    hr
    p Movies:
    each movie in movies
      span #{movie.name}         
  
  hr
  div
    a(href="") Update actor 
  div
    a(href="") Delete actor  