extends layout 

block content 
  h1= title + ' instance details'
  
  hr
  p Status: #{movieinstance.status}       
  hr
  div
    a(href=movieinstance.url + '/update') Update instance 
  div
    a(href=movieinstance.url + '/delete') Delete instance