extends layout 

block content 
  h1= title
  span
  hr
  p Name:       
  hr
  p Movie franchise:       
  hr
  p Actors:       
  hr
  p Genre:       
  div
    a(href="") Update movie 
  div
    a(href="") Delete movie  