extends layout

block content
  h1=title

  form(method='POST' action='')
    div
      label(for='book') Movie:
      select(type='select' placeholder='Select movie' name='movie' required='true')
        - movies.sort(function(a, b) {let textA = a.name.toUpperCase(); let textB = b.name.toUpperCase(); return (textA < textB) ? -1 : (textA > textB) ? 1 : 0;});
        for movie in movies
          option(value=movie._id selected=(selected_movie==movie._id.toString() ? 'selected' : false) ) #{movie.name}

    div
      label(for='status') Status:
      select(type='select' placeholder='Select status' name='status' required='true')
        option(value='Maintenance') Maintenance
        option(value='Available') Available
        option(value='Loaned') Loaned
        option(value='Reserved') Reserved

    button(type='submit') Submit

  if errors
    ul
      for error in errors
        li!= error.msg